body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22008 {
  position:fixed;
  left:0px;
  top:0px;
}
#u22008_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22008_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
  display:flex;
}
#u22009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22011 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:31px;
  width:260px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22011_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u22012 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:50px;
  height:50px;
  display:flex;
}
#u22012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22013 {
  position:absolute;
  left:1380px;
  top:26px;
}
#u22013_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22013_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
  background:inherit;
  background-color:rgba(65, 69, 69, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 1px 10px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 1px 10px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 1px 10px rgba(0, 0, 0, 0.117647058823529);
  font-size:14px;
  color:#FFFFFF;
}
#u22015 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:40px;
  width:151px;
  height:36px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u22015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u22016 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:34px;
  width:13px;
  height:8px;
  display:flex;
}
#u22016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22017 {
  position:absolute;
  left:11px;
  top:0px;
}
#u22017_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22017_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
}
#u22018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22018_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22018.selected {
}
#u22018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u22019 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:16px;
  height:16px;
  display:flex;
}
#u22019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22020 {
  position:absolute;
  left:1320px;
  top:10px;
}
#u22020_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:60px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22020_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:28px;
  height:16px;
  display:flex;
}
#u22021 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22021_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u22022 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:27px;
  width:12px;
  height:8px;
  display:flex;
}
#u22022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:60px;
  display:flex;
}
#u22023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22024 {
  position:absolute;
  left:-14px;
  top:47px;
  visibility:hidden;
}
#u22024_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:73px;
  height:83px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22024_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 230, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 10px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 1px 10px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 1px 10px rgba(0, 0, 0, 0.117647058823529);
  font-size:14px;
}
#u22025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:83px;
  display:flex;
  font-size:14px;
}
#u22025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:73px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u22026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22026_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22026.mouseDown {
}
#u22026_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22026.selected {
}
#u22026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:73px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u22027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22027_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22027.mouseDown {
}
#u22027_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 243, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22027.selected {
}
#u22027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 0px 6px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:0px 0px 6px rgba(0, 0, 0, 0.0980392156862745);
  font-size:14px;
  color:#303133;
}
#u22028 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:129px;
  width:370px;
  height:420px;
  display:flex;
  font-size:14px;
  color:#303133;
}
#u22028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22031 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:239px;
  width:250px;
  height:40px;
  display:flex;
}
#u22031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22031_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22031.mouseOver {
}
#u22031_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22031.selected {
}
#u22031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#606266;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u22032_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#606266;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u22032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#606266;
}
#u22032 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:240px;
  width:210px;
  height:38px;
  display:flex;
  font-size:14px;
  color:#606266;
}
#u22032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22032_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#606266;
}
#u22032.disabled {
}
#u22033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u22033 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:255px;
  width:13px;
  height:9px;
  display:flex;
}
#u22033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u22033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22035 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:316px;
  width:250px;
  height:40px;
  display:flex;
}
#u22035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22035_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22035.mouseOver {
}
#u22035_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22035.selected {
}
#u22035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#606266;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u22036_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#606266;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u22036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#606266;
}
#u22036 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:317px;
  width:223px;
  height:38px;
  display:flex;
  font-size:14px;
  color:#606266;
}
#u22036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22036_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#606266;
}
#u22036.disabled {
}
#u22037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
}
#u22037 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:374px;
  width:112px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
}
#u22037 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22037_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u22038 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:404px;
  width:250px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u22038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22038_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u22038.mouseOver {
}
#u22038_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u22038.mouseDown {
}
#u22038_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(160, 207, 255, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u22038.disabled {
}
#u22038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
}
#u22039 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:512px;
  width:70px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
}
#u22039 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22039_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#606266;
  text-align:center;
}
#u22040 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:172px;
  width:40px;
  height:25px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#606266;
  text-align:center;
}
#u22040 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22040_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u22041 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:258px;
  width:40px;
  height:26px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u22041 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22041_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u22042 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:302px;
  width:500px;
  height:98px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u22042 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u22042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22043 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:252px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u22043_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-17px;
  width:10px;
  height:17px;
}
#u22043_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-17px;
  width:60px;
  height:10px;
}
#u22043_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-17px;
  width:10px;
  height:23px;
}
#u22043_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u22043_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
